DATABASE_URL=sqlite:///./skillsphere.db
SECRET_KEY=skillsphere_jwt_secret_key_extremely_secure_2026_d7a8c3
OPENROUTER_API_KEY=your_openrouter_api_key_here
OPENROUTER_MODEL=openrouter/free
GOOGLE_CLIENT_ID=your_google_client_id_here
